[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.centerMe {
	margin: 0 auto;
	text-align: center;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }

#routedContent.ng-enter{
  transform: translateX(-500px);
  opacity: 0;

  -webkit-transition: all 1s cubic-bezier(1,.01,0,.99);
  -moz-transition: all 1s cubic-bezier(1,.01,0,.99);
  -ms-transition: all 1s cubic-bezier(1,.01,0,.99);
  -o-transition: all 1s cubic-bezier(1,.01,0,.99);
  transition: all 1s cubic-bezier(1,.01,0,.99);
}

#routedContent.ng-enter-active{
  transform: translateX(0px);
  opacity: 1;
}

#routedContent.ng-leave{
  transform: translateX(0);
  opacity: 1;

  -webkit-transition: all 0.16s cubic-bezier(1,.01,0,.99);
  -moz-transition: all 0.16s cubic-bezier(1,.01,0,.99);
  -ms-transition: all 0.16s cubic-bezier(1,.01,0,.99);
  -o-transition: all 0.16s cubic-bezier(1,.01,0,.99);
  transition: all 0.16s cubic-bezier(1,.01,0,.99);
}

#routedContent.ng-leave-active{
  transform: translateX(500px);
  opacity: 0;
}

.cardLessPadding { padding: 3px 16px 3px 16px !important;}
.lessMargin { margin: 2px 0}
.selectMargin { margin: 0px 0 26px } 

.hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey; }

.card-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px; 
  margin: 0;
  color: white;
  z-index: 1000;
  position:absolute;
  bottom:0px;
  width:100%;
}


.mainTile { text-decoration: none;}
.mainTile md-card { overflow:hidden;position:relative;}

.mainTile img {
-moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mainTile:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}